<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HospitalWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>/axis2-web/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerEspecialidades</display-name>
    <servlet-name>ObtenerEspecialidades</servlet-name>
    <servlet-class>servlet.paciente.SObtenerEspecialidades</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerEspecialidades</servlet-name>
    <url-pattern>/ObtenerEspecialidades</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerMedicosDeUnEspecialidad</display-name>
    <servlet-name>ObtenerMedicosDeUnEspecialidad</servlet-name>
    <servlet-class>servlet.paciente.SObtenerMedicosDeUnEspecialidad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerMedicosDeUnEspecialidad</servlet-name>
    <url-pattern>/ObtenerMedicosDeUnEspecialidad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarHoraAPS</display-name>
    <servlet-name>BuscarHoraAPS</servlet-name>
    <servlet-class>servlet.paciente.SBuscarHoraAPS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarHoraAPS</servlet-name>
    <url-pattern>/BuscarHoraAPS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservarHoraAps</display-name>
    <servlet-name>ReservarHoraAps</servlet-name>
    <servlet-class>servlet.paciente.SReservarHoraAps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservarHoraAps</servlet-name>
    <url-pattern>/ReservarHoraAps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarSuDisponbilidadHora</display-name>
    <servlet-name>BuscarSuDisponbilidadHora</servlet-name>
    <servlet-class>servlet.medico.SBuscarSuDisponbilidadHora</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarSuDisponbilidadHora</servlet-name>
    <url-pattern>/BuscarSuDisponbilidadHora</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservarHoraMedicaControl</display-name>
    <servlet-name>ReservarHoraMedicaControl</servlet-name>
    <servlet-class>servlet.medico.SReservarHoraMedicaControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservarHoraMedicaControl</servlet-name>
    <url-pattern>/ReservarHoraMedicaControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerBox</display-name>
    <servlet-name>ObtenerBox</servlet-name>
    <servlet-class>servlet.director.SObtenerBox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerBox</servlet-name>
    <url-pattern>/ObtenerBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerPorcentajeOcupacionBox</display-name>
    <servlet-name>ObtenerPorcentajeOcupacionBox</servlet-name>
    <servlet-class>servlet.director.SObtenerPorcentajeOcupacionBox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerPorcentajeOcupacionBox</servlet-name>
    <url-pattern>/ObtenerPorcentajeOcupacionBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerMedicos</display-name>
    <servlet-name>ObtenerMedicos</servlet-name>
    <servlet-class>servlet.director.SObtenerMedicos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerMedicos</servlet-name>
    <url-pattern>/ObtenerMedicos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerPorcentajeOcupacionMedico</display-name>
    <servlet-name>ObtenerPorcentajeOcupacionMedico</servlet-name>
    <servlet-class>servlet.director.SObtenerPorcentajeOcupacionMedico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerPorcentajeOcupacionMedico</servlet-name>
    <url-pattern>/ObtenerPorcentajeOcupacionMedico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerMedicosMasSolicitados</display-name>
    <servlet-name>ObtenerMedicosMasSolicitados</servlet-name>
    <servlet-class>servlet.director.SObtenerMedicosMasSolicitados</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerMedicosMasSolicitados</servlet-name>
    <url-pattern>/ObtenerMedicosMasSolicitados</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerPacientesMasAtendidos</display-name>
    <servlet-name>ObtenerPacientesMasAtendidos</servlet-name>
    <servlet-class>servlet.director.SObtenerPacientesMasAtendidos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerPacientesMasAtendidos</servlet-name>
    <url-pattern>/ObtenerPacientesMasAtendidos</url-pattern>
  </servlet-mapping>
</web-app>